<div id="pro-dev-books-page">
  <div class="col-md-12">
    <div class="filter-section">
      <h3>Kullanıcı Bilgileri</h3>
      <div class="row">
        <div class="col-md-2">
          <input type="text" placeholder="Name" class="form-control" [(ngModel)]="user.name">
        </div>
        <div class="col-md-2">
          <input type="text" placeholder="Email" class="form-control" [(ngModel)]="user.email">
        </div>
        <div class="col-md-3">
          <select class="form-control" [(ngModel)]="user.company">
            <option *ngFor="let company of companies" [ngValue]="company">{{company.name}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-light" (click)="userAction()">
            {{mode.title}}
          </button>
        </div>
      </div>
    </div>

    <br><br><br>

    <div class="list-section" *ngIf="users.length">
      <div class="row mb-10">
        <div class="col-md-3">
          <strong>Adı Soyadı</strong>
        </div>
        <div class="col-md-3">
          <strong>Email</strong>
        </div>
        <div class="col-md-3">
          <strong>Firma Adı</strong>
        </div>
        <div class="col-md-3">
          <strong>Actions</strong>
        </div>
      </div>
      <div class="row mb-10" *ngFor="let user of users; let i = index">
        <div class="col-md-3">
          {{user.name}}
        </div>
        <div class="col-md-3">
          {{user.email}}
        </div>
        <div class="col-md-3">
          {{user.company.name}}
        </div>
        <div class="col-md-3">
          <a class="btn btn-warning" (click)="editItem(user)">Düzenle</a>
          <a class="btn btn-danger" (click)="removeItem(i)">Sil</a>
        </div>
      </div>
    </div>

  </div>



</div>